<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn Leaf Disease Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="upload-container">
        <h1>Corn Leaf Disease Classifier</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="file-input" name="image" accept="image/*" onchange="previewImage(event)">
            <div class="btn-container">
                <label for="file-input">Choose Image</label>

                <select name="model_select" id="model_select">
                    <option value="adam">Adam</option>
                    <option value="adan">Adan</option>
                    <option value="adamw" selected>AdamW</option>
                    <option value="rmsprop">RMSprop</option>
                    <option value="adabound">AdaBound</option>
                </select>

                <button type="submit" id="upload-button" class="disabled-button" disabled>Upload</button>
            </div>
        </form>
        <div>
            <img id="preview" alt="Image Preview" width="200px">
        </div>
    </div>

    <script>
        function previewImage(event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            var uploadButton = document.getElementById('upload-button');
            var preview = document.getElementById('preview');

            if (file) {
                reader.onload = function () {
                    preview.src = reader.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(file);
                uploadButton.disabled = false;
                uploadButton.classList.remove('disabled-button');
            } else {
                preview.style.display = 'none';
                uploadButton.disabled = true;
                uploadButton.classList.add('disabled-button');
            }
        }
    </script>
</body>

</html>